*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	margin: 20px;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%),
	url("github-logo-face.png") repeat 0 0;
	background-size: 100px 100px;
}

.container {
	align-self: center;
	width: 60rem;
	border-radius: 30px;
	padding: 5rem;
	background-color: rgba(255, 255, 255, 0.9);
}

h1 {
	padding-bottom: 3rem;
	font-family: 'Courier New', Courier, monospace;
	font-size: 250%;
}

div {
	text-align: center;
}

.search {
	width: 70%;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.search-button {
	padding: 7px 2px;
	font-weight: bold;
	cursor: pointer;
	width: 20%;
	border-radius: 5px;
	background-color: black;
	color: white;
}

.error-div {
	border: 1px solid #86383e;
	border-radius: 5px;
	background-color: #d1adad;
	font-size: 14px;
	color: #86383e;
	padding: 18px 0px;
	margin-top: 31px;
	transform: translateX(5px);
}

.flex,
span {
	display: flex;
	font-weight: normal;
}

.avatar {
	width: 64px;
	height: 64px;
	padding: 15px 10px 15px 0px;
}

.user-details {
	align-self: center;
}

.user-name,
.bio,
.noRepo {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
}

.name {
	font-size: 22px;
	font-weight: bold;
	margin: 0;
}

.width {
	padding: 1rem 5rem;
}

h4 {
	text-align: left;
	padding: 5px 0px 12px 0px;
	border-bottom: 2px solid black;
	font-size: 160%;
}

li {
	padding: 20px 10px;
	border-bottom: 1px solid #a3a3a3;
	font-size: 17px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

i {
	padding: 0px 3px;
}

.repo-name {
	word-wrap: break-word;
	width: 250px;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

@media only screen and (orientation: portrait) {
	html {
		font-size: 50%;
	}

	.container {
		width: 30rem;
	}

	.width {
		width: 240px;
		padding: 0;
	}

	.search {
		width: 165px;
	}

	.repo-name {
		width: 200px;
	}

	h4,
	li,
	.name {
		font-size: 15px;
	}
}